<h1>Sign up</h1>

<form (ngSubmit)="onSubmit()" [formGroup]="signUpForm">
  <div class="form-group">
    <label for="firstName">First name: </label>
    <input
      type="text"
      id="firstName"
      placeholder="First name"
      formControlName="firstName"
      required>
    <app-field-validation-message
      *ngIf="this.hasValidation('firstName')"
      [message]="'First name is required!'"
    ></app-field-validation-message>
  </div>
  <div class="form-group">
    <label for="lastName">Last name: </label>
    <input
      type="text"
      id="lastName"
      placeholder="Last name"
      formControlName="lastName"
      required>
    <app-field-validation-message
      *ngIf="this.hasValidation('lastName')"
      [message]="'Last name is required!'"
    ></app-field-validation-message>
  </div>
  <div class="form-group">
    <label for="email">Email: </label>
    <input
      type="email"
      id="email"
      placeholder="Email"
      formControlName="email"
      required>
    <app-field-validation-message
      *ngIf="this.hasValidation('email')"
      [message]="'Email address is required!'"
    ></app-field-validation-message>
  </div>
  <div class="form-group">
    <label for="password">Password: </label>
    <input
      type="password"
      id="password"
      placeholder="Password"
      formControlName="password"
      required>
    <app-field-validation-message
      *ngIf="this.hasValidation('password')"
      [message]="'You must enter password!'"
    ></app-field-validation-message>
  </div>

  <div class="form-group">
    <button type="submit">Sign up</button>
  </div>
</form>
